<div class="container mt-4">
  <div class="row">
      @for(produit of produit; track produit.id)
      {
          <div class="col-md-4 mb-4">
              <div class="card shadow-sm">
                  <img [src]="produit.image_article" alt="{{ produit.name_article }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                  <div class="card-body">
                      <h5 class="card-title text-primary">{{ produit.name_article }}</h5>
                      <p class="card-text">Prix: {{ produit.price | priceDT}}</p>
                      <p>
                          <input type="checkbox" [checked]="produit.in_stock" disabled> 
                          <span [ngClass]="{ 'text-success': produit.in_stock, 'text-danger': !produit.in_stock }">
                            {{ produit.in_stock ? 'Disponible' : 'Non disponible' }}
                          </span>
                          
                      </p>
                      <p class="card-text">Description: {{ produit.Description }}</p>
                  </div>
              </div>
          </div>
      }
  </div>

  <h2 class="my-4">Laissez vos commentaires ici</h2>
  <div class="mb-4">
      <input type="text" [(ngModel)]="message" class="form-control mb-2" placeholder="Écrivez votre message ici" />
      <button (click)="sendMessage()" class="btn btn-primary">Envoyer</button>
  </div>

  
  <div>
      <h3>Commentaires précédents :</h3>
      <div *ngFor="let comment of comments" class="border-bottom pb-2 mb-2">
          <p><strong>Message :</strong> {{ comment.text }}</p>
          <p><strong>Date d'envoi :</strong> {{ comment.date | date:'short' }}</p>
      </div>
  </div>
</div>
