<div class="container mt-4">
  @if(produits.length > 0) {
    <h2 class="text-primary">Produits trouvés :</h2>
    <ul class="list-group">
      @for(produit of produits; track $index) {
        <li class="list-group-item">
          <div class="d-flex align-items-center">
            <img [src]="produit.image_article" alt="{{ produit.name_article }}" class="img-fluid rounded mr-3" style="width: 100px; height: 100px; object-fit: cover;">
            <div>
              <h5>{{ produit.name_article }}</h5>
              <p class="mb-0">Prix: {{ produit.price | priceDT }}</p>
            </div>
          </div>
        </li>
      }
    </ul>
  } 
  @if(produits.length == 0){
    <h2 class="text-primary">Aucun produit trouvé</h2>
  }
</div>